*.log

# Make sure to ignore Eclipse files
.classpath
.project
.settings

# Where maven compiles by default
target
dependency-reduced-pom.xml

# Java Files that should be ignored
*.class

# Package Files
*.jar
*.war
*.ear

# Backup files
*.bak

# IntelliJ
*.iml
.idea/

# jenv
.java-version
